<h1>會員登入</h1>

<%= form_with(model: @user, url: login_path, method: 'post', local: true) do |form| %>

  <div class="fields">
    <%= form.label :email %>
    <%= form.text_field :email %>
  </div>

  <div class="fields">
    <%= form.label :password, '密碼' %>
    <%= form.password_field :password %>
  </div>

  <%= form.submit '登入' %>
<% end %>