<h1>編輯會員資料</h1>

<% if current_user.errors.any? %>
  <ul>
    <% current_user.errors.full_messages.each do |message| %>
    <li><%= message %></li>
    <% end %>
  </ul>
<% end %>

<%= form_for(current_user, url: user_registration_path) do |form| %>

  <div class="fields">
    <%= form.label :email %>
    <%= form.text_field :email %>
  </div>


  <div class="fields">
    <%= form.label :nickname, '暱稱' %>
    <%= form.text_field :nickname %>
  </div>

  <%= form.submit '更新' %>
<% end %>