<h1>看板列表</h1>

<!-- <a href="/boards/new">新增看板</a>
<a href="<%= new_board_path %>">新增看板</a>
<%= link_to "新增看板", '/boards/new' %> -->
<div class="new_boards_button">
<%= link_to "NEW", new_board_path %>
</div>

<ul class="boards_list">
  <% @boards.each do |board| %>
    <li>
      <!-- <%= link_to board.title, board_path(board.id) %> -->
      <!-- <%= link_to board.title, board_path(board) %> -->
      <%= link_to board.title, board, class: board_title_css(board) %>
      <%= link_to "edit", edit_board_path(board) %>
      <!-- <%= link_to "delete", board_path(board.id), method: 'delete', data: {confirm: 'R u sure?'} %> -->
      <%= link_to "delete", board, method: 'delete', data: {confirm: 'R u sure?'} %>

      <%= link_to "隱藏", hide_board_path(board), method: :patch, 
                            data: {confirm: 'R u sure?'} if board.may_hide? %>

      <%= link_to "顯示", open_board_path(board), method: :patch if board.may_open? %>
      <%= link_to "鎖定！", lock_board_path(board), method: :patch, 
                            data: {confirm: 'R u sure?'} if board.may_lock? %>


    </li>
  <% end %>
</ul>

<div class="pages">
<%= paginate @boards %>
</div>