<%= link_to "回看板", board_path(@post.board) %>

<div class="icon" data-controller="favorite" data-favorite-id="<%= @post.id %>">
  <% if user_sign_in? %>
    <%= link_to '#', id: 'favorite_btn', data: { action: 'favorite#go' } do %>
      <% if current_user.favorite?(@post) %>
        <i class="fas fa-5x fa-heart" data-target="favorite.icon"></i>
      <% else %>
        <i class="far fa-5x fa-heart" data-target="favorite.icon"></i>
      <% end %>
    <% end %>
  <% else %>
    <%= link_to new_user_session_path do %>
      <i class="far fa-5x fa-heart"></i>
    <% end %>
  <% end %>
</div>

<h2>作者：<%= @post.user.nickname %></h2>
<h1><%= @post.title %></h1>


  <%= link_to "編輯", edit_post_path(@post) if @post.owned_by?(current_user) %>

<article>
  <%= simple_format(@post.content) %>
</article>

<h2>✿❀❁✿❀❁✿❀❁✿❀❁✿❀❁✿❀❁✿❀❁✿❀❁✿❀❁✿❀❁✿❀❁✿❀❁✿❀❁</h2>
<h2>Comments.....</h2>
<%= form_for(@comment, url: post_comments_path(@post), remote: true) do |f| %>
  <ul class="write_comments">
    <li>
      <%= f.text_area :content, placeholder: "請輸入留言..." %>
      <%= f.submit "留言" %>
    </li>
  </ul>
<% end %>

<ul class="comments">
  <!-- render collection -->
  <%= render @comments %>
</ul>


